<section>
    <a name="news"></a>
    <h2>News & Updates</h2>
    {{ $items := .ctx.Site.Data.news }}
    <ul class="news-list">
    {{ range first .itemsLimit $items }}
        <li>
            <span class="checkpoint"></span>
            <span class="date">{{ dateFormat  "January 2, 2006" .date }}</span>
            <span class="title">{{ .title }}</span>
            <div>{{ .body | markdownify }}</div>
        </li>
    {{ end }}
    </ul>
    {{if eq .itemsLimit (len $items) }}
        <div>
            <a class="see-more" href="{{ .ctx.Site.Params.news.URL | absURL }}">See more</a>
        </div>
    {{ end }}
</section>