<section>
    <a name="hall_of_fame"></a>
    <h2>Hall of Fame</h2>
    {{ $contributors := .Site.Data.ranking}}
    {{ if ne $contributors nil }}
        <ul class="ranking-list">
            {{ range $idx, $contributor := (sort $contributors "points" "desc") }}
                <li>
                    <div class="person">
                        <div class="pos-name">
                            <span class="position">{{ add $idx 1 }}</span>
                            <span class="name">{{ $contributor.name | markdownify }}</span>
                        </div>
                        {{ if .github_id }} <a class="link" href="https://github.com/{{ $contributor.github_id }}"  >{{ $contributor.github_id  }}</a>{{ end }}
                        {{ if .matrix_id }} <a class="link" href="https://matrix.to/#/@{{ $contributor.matrix_id }}">{{ $contributor.matrix_id  }}</a>{{ end }}
                        {{ if .twitter_id }}<a class="link" href="https://twitter.com/{{ $contributor.twitter_id }}">{{ $contributor.twitter_id }}</a>{{ end }}
                    </div>
                    <span class="points">{{ $contributor.points }} pts</span>
                </li>
            {{ end }}
            </ul>
    {{ else }}
         <div>
            <a href="{{ .Site.Params.bannerLink.URL }}" class="no-ranking-items-message">Be the first to report a bug and get placed here</a>
         </div>
    {{ end }}
    
</section>
