.bottom-bar {
    width: calc(100% - 40px);
    background-color: $dcr-dark-blue;
    padding: 20px 20px;

    a {
        color: $banner-text-gray;
    }

    .link {
        text-decoration: none;
        display: flex;
        align-items: center;
        & > img {
            height: 16px;
            margin-right: 5px;
        }
    }
}