.bottom-bar {
    width: 80%;
    background-color: $dcr-dark-blue;
    padding: 20px 10%;
    margin-top: auto;

    a {
        color: $banner-text-gray;
    }

    .link {
        text-decoration: none;
        display: flex;
        align-items: center;
        & > img {
            height: 16px;
            margin-right: 5px;
        }
    }
}