.ranking-list {
    list-style-type: none;
    padding-left: 12px;
    & > li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid $light-grey;
        & > .person {
            display: flex;
            flex-direction: column;

            .pos-name {
                display: flex;
            }

            .name {
                font-weight: bold;
                color:  $dcr-dark-blue;
            }

            .link {
                padding-left: 32px;
            }
        }

        .position {
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            background: $dcr-blue;
            color: white;
            margin-right: 10px;
        }

        .points {
            font-size: 18px;
            background: $dcr-blue;
            color: white;
            padding: 2px 8px;
            border-radius: 8px;
        }
    }

}
