// this is all critical css, that should be loaded before rendering the rest of
// the page. Keep it as small as possible.
@import "fonts.scss";
@import "colors.scss";
@import "bottombar.scss";
@import "topbar.scss";
@import "banner.scss";
@import "hall_of_fame.scss";
@import "news.scss";

body {
    min-height: calc(100vh - 62px);
    margin-top: 62px; /* 62px = top-bar height */
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efeded;
}

section {
    padding: 1em 2em;
    background: white;
    border: 1px solid #d6d6d6;
    min-height: 120px;
    width: calc(80% - 4em);
    z-index: 1;
    margin: 10px;
    & > a {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }

    img {
        display: block;
        margin: auto;
    }
}

.content {
    & > pre {
        overflow-x: auto;
    }
}
.single-container {
    min-height: calc(100vh - 122px);
    text-align: center;
}

.single-section {
    display: inline-block;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    body {
        margin-top: 0;
    }
    section {
        padding: 10px 20px;
        width: 80%;
        a {
            top: -92px;
        }
    }
}
