
<div class="bottom-bar">
    {{ $dcrlogo := resources.Get "img/iconDecredLightBlue.svg" }}
    <a class="link" href="https://github.com/decred">
        <img src="{{ $dcrlogo.Permalink }}" />
        <span>Decred Developers</span>
    </a>
</div>

{{ $options := (dict "targetPath" "optinal-style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/optional/main.scss" | css.Sass $options | resources.Fingerprint  }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

</body>
</html>