<section>
    <a name="hall-of-fame"></a>
    
    <h2>Hall of Fame</h2>

    <!-- To make the contributor list sortable, create a new slice which includes total reward payments. -->
    {{ $sortable := slice }}
    {{ range $idx, $contributor := .ctx.Site.Data.hall_of_fame }}
    
        {{ $totalReward := 0}}
            {{ range $idx, $reward := $contributor.reports }}
                {{ $totalReward = add $totalReward $reward }}
            {{ end }}
        {{ $contributor = merge $contributor (dict "totalReward" $totalReward) }}

        {{ $sortable = append $contributor $sortable }}
    {{ end }}
    
    <ul class="ranking-list">
        {{ range $idx, $contributor := first .itemsLimit (sort $sortable "totalReward" "desc") }}
            <li>
                <div class="person">
                    <div class="pos-name">
                        <span class="position">{{ add $idx 1 }}</span>
                        <span class="name">{{ $contributor.name }}</span>
                    </div>
                    {{ if .github_id }} <a class="link" href="https://github.com/{{ $contributor.github_id }}">{{ $contributor.github_id  }}</a>{{ end }}
                    {{ if .twitter_id }}<a class="link" href="https://x.com/{{ $contributor.twitter_id }}"    >{{ $contributor.twitter_id }}</a>{{ end }}
                </div>
                <span class="points">{{$contributor.totalReward}} pts</span>
            </li>
        {{ end }}
    </ul>
    {{if ge (len $sortable) .itemsLimit }}
        <div>
            <a class="see-more" href="{{ .ctx.Site.Params.hall_of_fame.URL | absURL }}">See more...</a>
        </div>
    {{ end }}
    
</section>
