<section>
    <a name="news"></a>

    <h2>News & Updates</h2>

    {{ $items := (where .ctx.Site.RegularPages "Section" "news") }}
    <ul class="news-list">
    {{ range first .itemsLimit $items }}
        <li class="news-list-item">
            <span class="checkpoint"></span>
            <span class="date">{{ dateFormat  "January 2, 2006" .Params.date }}</span>
            <a href="{{.Permalink}}" class="title">{{ .Params.title }}</a>
            <div class="news-list-content">{{ .Content }}</div>
        </li>
    {{ end }}
    </ul>
    {{if ge (len $items) .itemsLimit }}
        <div>
            <a class="see-more" href="{{ .ctx.Site.Params.news.URL | absURL }}">See more...</a>
        </div>
    {{ end }}
</section>
