.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: $dcr-dark-blue;
    color: $banner-text-gray;
    padding-bottom: 40px;

    #banner-bugs {
        height: 300px;
        width: 300px;
    }

    #banner-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
    }

    #skirt {
        position: absolute;
        top: 362px; /* 300px = banner-bugs height, 62px = top-bar height */
        background: $dcr-dark-blue;
        width: 100%;
        height: 140px;
        z-index: -999;
    }

    #banner-title {
        color: #69d5f7;
        font-size: 38px;
        font-weight: 600;
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        margin: 0 20px 35px 20px;
        line-height: 20px;
    }

    .button {
        font-size: 14px;
        border-radius: 4px;
        padding: 12px 20px 13px;
        background: $dcr-blue;
        color: white;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: $button-hover-blue;
        }
    }

    @media (max-width: 768px) {
        #banner-text {
            max-width: 80%
        }
        #banner-bugs {
            height: 200px;
            width: 200px;
        }
    }
}