.bottom-bar {
    width: calc(100% - 40px);
    margin-top: 10em;
    background-color: $dcr-blue;
    padding: 20px 20px;
    color: #eee;

    a {
        color: #eee;
    }

    .link {
        text-decoration: none;
        display: flex;
        align-items: center;
        & > img {
            height: 16px;
            margin-right: 5px;
        }
    }
}