// this is all critical css, that should be loaded before rendering the rest of
// the page. Keep it as small as possible.
@import "fonts.scss";
@import "colors.scss";
@import "bottombar.scss";
@import "topbar.scss";
@import "banner.scss";
@import "ranking.scss";
@import "news.scss";

body {
    padding-top: 52px;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efeded;
}

section {
    padding: 1em 2em;
    background: white;
    border: 1px solid #d6d6d6;
    min-height: 120px;
    width: calc(80% - 4em);
    z-index: 1;
    margin-bottom: 20px;
    & > a {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }
}

.content {
    & > pre {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 0;
    }
    section {
        padding: 10px 20px;
        width: 80%;
        a {
            top: -92px;
        }
    }
}
