.news-list {
    list-style-type: none;
    border-left: 1px dashed black;
    padding-left: 12px;

    .news-list-item {
        margin-top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 20px;

        
        .news-list-content {
            p {
                line-height: normal;
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }

        .date {
            font-size: 12px;
        }

        .title {
            font-weight: bold;
        }

        .checkpoint {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            position: absolute;
            background: $dcr-blue;
            top: 4px;
            left: -18px;
        }
    }

    .see-more {
        padding-top: 40px;
    }
}