.top-bar {
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 1px solid #d6d6dd;
    background: white;

    .menu {
        

        .menu-primary-items {
           
            list-style-type: none;

            .menu-item {
                display: inline;
                margin-right: 10px;
                text-transform: uppercase;
                
                & > a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: $dcr-blue;
                    }
                }
            }
        }
    }
}