.top-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    background: $dcr-dark-blue;

    .logo {
        height: 24px;
    }
    .menu {
        

        .menu-primary-items {
           
            list-style-type: none;

            .menu-item {
                display: inline;
                margin-right: 10px;
                text-transform: uppercase;
                
                & > a {
                    text-decoration: none;
                    color: white;;
                    &:hover {
                        color: $dcr-alt-blue;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
   .top-bar {
       width: 90%;
   }
}